<div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper grey darken-3">
        <a href="#!" class="brand-logo" style="margin-left: 5%;">Foodtruck</a>
        <ul class="right hide-on-med-and-down">
          <li><a href="/panel">Inicio</a></li>
          <li><a href="badges.html">Vendedores</a></li>
          <li><a href="badges.html">Paquetes</a></li>
          <li><a href="badges.html">Preguntas</a></li>
        </ul>
      </div>
    </nav>
  </div>