{{em-smenu}}
 <div class="row" style="margin-top: 2%;">
  <div class="col s12 m6 offset-m3">
    <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">mode_edit</i>
          {{input type="textarea" id="icon_prefix2" class="materialize-textarea" value=model.pregunta}}
          <label for="icon_prefix2">Pregunta</label>
        </div>
    </div>
      <a {{action "save" model}} class="waves-effect waves-light btn right blue"><i class="material-icons left">done</i>Confirmar</a>
    </form>
  </div>
  </div>
 </div>