{{em-smenu}}
<div class="row">
  <div class="col s12 m3">
    <div class="card horizontal">
      <div class="card-image">
        <!--<img src="https://cookedere.files.wordpress.com/2015/07/foodtruck_logo.png?w=300&h=300&crop=1" width="100%">-->
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <h4>Ver Vendedores</h4>
        </div>
        <div class="card-action">
          <a href="/vendedores">Ver Lista</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col s12 m3">
    <div class="card horizontal">
      <div class="card-image">
        <!--<img src="https://cookedere.files.wordpress.com/2015/07/foodtruck_logo.png?w=300&h=300&crop=1" width="100%">-->
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <h4>Agregar Paquete</h4>
        </div>
        <div class="card-action">
          <a href="/agregar_paquete">Agregar Aqui</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col s12 m3">
    <div class="card horizontal">
      <div class="card-image">
        <!--<img src="https://cookedere.files.wordpress.com/2015/07/foodtruck_logo.png?w=300&h=300&crop=1" width="100%">-->
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <h4>Ver Paquetes</h4>
        </div>
        <div class="card-action">
          <a href="/paquetes">Ver Lista</a>
        </div>
      </div>
    </div>
  </div>
   <div class="col s12 m3">
    <div class="card horizontal">
      <div class="card-image">
        <!--<img src="https://cookedere.files.wordpress.com/2015/07/foodtruck_logo.png?w=300&h=300&crop=1" width="100%">-->
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <h4>Ver Preguntas</h4>
        </div>
        <div class="card-action">
          {{#link-to 'preguntas'}}Ver Lista{{/link-to}}
        </div>
      </div>
    </div>
  </div>
  <div class="col s12 m3">
    <div class="card horizontal">
      <div class="card-image">
        <!--<img src="https://cookedere.files.wordpress.com/2015/07/foodtruck_logo.png?w=300&h=300&crop=1" width="100%">-->
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <h4>Agregar Preguntas</h4>
        </div>
        <div class="card-action">
          <a href="agregar_pregunta">Agregar Aquí</a>
        </div>
      </div>
    </div>
  </div>
   <div class="col s12 m3">
    <div class="card horizontal">
      <div class="card-image">
        <!--<img src="https://cookedere.files.wordpress.com/2015/07/foodtruck_logo.png?w=300&h=300&crop=1" width="100%">-->
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <h4>Agregar Vendedor</h4>
        </div>
        <div class="card-action">
          <a href="/agregar_vendedor">Agregar Aquí</a>
        </div>
      </div>
    </div>
  </div>
</div>