{{em-vmenu}}
<div class="row">
	<div class="col s12 m6 offset-m3 center-align" style="margin-top: 15%;">
		Cliente: 
		{{input type="text" class="validate" value=cliente}}

		<a {{action 'nuevo' cliente}}class="waves-effect waves-light btn-large red pulse"><i class="material-icons left">restaurant</i>Empezar un pedido</a>
	</div>
</div>